{% extends 'layout.html' %}

{% block body %}
<br>
<div class="card-deck">
    <div class="card bg-secondary text-white">
      <div class="card-body text-center">
        <p class="card-text"><h3>Aditya Shahare</h3></p>
        <p><h4>TE B <br>Roll No: 60</h4></p>
      </div>
    </div>
    <div class="card bg-secondary text-white">
        <div class="card-body text-center">
        <p class="card-text"><h3>Sneha <br> Sharma</h3></p>
        <p><h4>TE B <br>Roll No: 61</h4></p>
    </div>
    </div>
    <div class="card bg-secondary text-white">
        <div class="card-body text-center">
          <p class="card-text"><h3>Ranjeet Sonawane</h3></p>
          <p><h4>TE B <br>Roll No: 68</h4></p>
        </div>
      </div>
      <div class="card bg-secondary text-white">
        <div class="card-body text-center">
        <p class="card-text"><h3>Poorva Wadhavane</h3></p>
        <p><h4>TE B <br>Roll No: 73</h4></p>
      </div>
    </div>
  </div>

{% endblock %}
