{% extends 'layout.html' %}

{% block body %}

<h3>ALL PREVIOUS TRANSACTIONS</h3>
<br><hr><br>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">T_id</th>
        <th scope="col">Customer Name</th>
        <!-- <th scope="col">Contact No.</th> -->
        <th scope="col">Total Amount</th>
        <th scope="col">Emp Name</th>
        <th scope="col">Date-Time</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
        {% for r in res %}
        <tr>
            <th scope="row">{{ r.id }}</th>
            <td>{{ r.CusName.capitalize() }}</td>
            <!-- <td>{{ r.ContNo }}</td> -->
            <td>{{ r.Total }}</td>
            <td>{{ r.EmpName }}</td>
            <td>{{ r.DateTime }}</td>
            <td><a href="bill_detail/{{r.id}}" class="btn btn-info pull-right">See Detail</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}