<style>
  .row{
    background-color:whitesmoke;
    padding: 15px;
    opacity:.9 ;
  }

  body{
    background-image: url({{ url_for('static', filename='index.jpg') }});
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed; */
    }
</style>


{% extends 'layout.html' %}

{% block body %}

<!-- <h2>hello from index page</h2> -->
  <br><hr><br>
  <div class="row">
      <div class="col-sm-4">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title">INVENTORY DETAILS</h4>
              <p class="card-text">
                <ul>
                  <li>Update Inventory</li>
                  <li>Check Products Quantity</li>
                  <li>See all products</li>
                </ul>
              </p>
              <a href="/inv_det" class="btn btn-success">PROCEED</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-dark text-white ">
          <div class="card-body">
            <h4 class="card-title">MAKE NEW BILLS</h4>
            <p class="card-text"><ul>
                <li>Sell Product</li>
                <li>Auto-update inventory</li>
                <br>
            </ul></p>
            <a href="/makebill" class="btn btn-success">PROCEED</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title">RECORD GENERATION</h4>
              <p class="card-text"><ul>
                  <li>Products sold Stats</li>
                  <li>Previous Transactions</li>
                  <li>Profit estimation</li>
              </ul></p>
              <a href="/rec_genrate" class="btn btn-success">PROCEED</a>
            </div>
          </div>
        </div>
    </div>

  <br><hr><br>
{% endblock %}