<style>

  .invtable{
    margin: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    opacity: 0.90;
  }

  body {
    background-image: url({{ url_for('static', filename='inv.jpg') }})
    }

</style>


{% extends 'layout.html' %}

{% block body%}
<br>
<div class="invtable">
<!-- step 1 : display all products  -->
<br>
<h3>ALL PRODUCTS</h3>
<hr>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Product Name</th>
        <th>Cost</th>
        <th>Available</th>
        <th>Edit Cost</th>
        <th>Edit Quantity</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
        {% for prod in prods %}
          {% if prod.avl_qn < 10 %}
            <tr class="table-danger">
                <td>{{prod.p_name.capitalize()}}</td>
                <td>{{prod.cost}}</td>
                <td>{{prod.avl_qn}}</td>
                <td><a href="edit_cost/{{prod.p_name}}" class="btn btn-info pull-right">Edit Cost</a></td>
                <td><a href="edit_quantity/{{prod.p_name}}" class="btn btn-info pull-right">Edit Quantity</a></td>
              
                <td>
                  <form action="{{url_for('remove_prod', p_name=prod.p_name)}}" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </td>
            </tr>
          {% else %}
          <tr>
            <td>{{prod.p_name.capitalize()}}</td>
            <td>{{prod.cost}}</td>
            <td>{{prod.avl_qn}}</td>
            <td><a href="edit_cost/{{prod.p_name}}" class="btn btn-info pull-right">Edit Cost</a></td>
            <td><a href="edit_quantity/{{prod.p_name}}" class="btn btn-info pull-right">Edit Quantity</a></td>
          
            <td>
              <form action="{{url_for('remove_prod', p_name=prod.p_name)}}" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger">
              </form>
          </td>
          </tr>
          {% endif%}
       {% endfor %}

    </tbody>

  </table>
  <hr>
  <a href="/addprod" class="btn btn-outline-success">Add New Product</a>
  
</div>
  
{% endblock %}