{% extends 'layout.html' %}

{% block body %}
<hr>
<h3>Add Customer Details and confirm Payment</h3>
<hr>
{% from "_includes/_formhelpers.html" import render_field %}

<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.cusname, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.cusphone, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.b_date, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-success" value="Done"></p>
</form>

{% endblock %}