{% extends 'layout.html' %}

{% block body %}
<br>
<h3>Record Generation</h3>
<hr>
{% from "_includes/_formhelpers.html" import render_field %}

<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.rec_type, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.rec_type1, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Generate"></p>

</form>

<br><hr><br>

<a href="/all_prev" class="btn btn-outline-dark">All Previous Bills</a>

<hr>

<a href="/search_by_cus" class="btn btn-outline-dark">Search by Customer</a>

{% endblock %}